/* styles.css */

body {
    background-color: lightgrey;
    color: black;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  
.flanker-stim {
    font-size: 60px;
}

.normal-text {
    font-size: 36px;
}

.split {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
}

.upper-half, .lower-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 1;
}

/* Additional styling for the content within each half (optional) */
.upper-half {
    background-color: lightgrey;
}

.lower-half {
    background-color: lightgrey;
}

.active-border {
    border: 5px solid green;
    box-shadow: inset;
    box-sizing: border-box;
}

.single-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: 5px solid green;
    box-sizing: border-box;
    box-shadow: inset;
    border-radius: 25px;
    transform: translateX(-50%) translateY(-50%);
    background-color: lightgreen;
    background-size: contain;
    z-index: 2; /* ensure the overlay appears above other content */
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
}

.counter-text {
    font-size: 36px;
}